@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Bład";
}


<div>
	<h4>
		Przepraszamy, ale coś poszło nie tak.
	</h4>
	<h6>@Html.ActionLink("Wróc na stone główna", "Index", "Home")</h6>
</div>
