@{
    ViewBag.Title = "Strona główna";
}
<h2>Quiz</h2>
<div>
	<p>Quiz – rodzaj zabawy, rozrywki intelektualnej dla kilku osób, polegającej na przedstawieniu przez jedną z osób pozostałym zagadnienia w formie zapytania w ten sposób,
	by na podstawie dostarczonych wraz z zapytaniem informacji oraz wiedzy ogólnej można było wydedukować prawidłową odpowiedź. Pytanie powinno być sformułowane w ten sposób,
	by odpowiedź nie była całkiem oczywista, zabawa polega de facto na dyskusji zgadujących nad różnymi możliwościami i wykluczaniu tych, które nie spełniają warunków zadanych w pytaniu.</p>
</div>


